@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
              Bem-Vindo!
    <p>   <h3>Sistema Financeiro!</h3></p>


    <br />
    <br />
    <img src="~/images/bpo_financeiro.png" />
</div>
